export(RearrangeTree, SetOutgroup, Root, RootedNNI, QuickNNI, RootedSPR, SPR, RootedTBR, TBR)
export(DoDescendants, AllAncestors, GetDescendants, GetAncestors)
export(ExtractClade, AddTip, SingleTaxonTree, TwoTipTree)
export(InapplicableFitch)
export(PrepareCluster)
export(MorphyDat, StringToMorphy, AsBinary)
export(InapplicableSectorial, InapplicablePratchet, TreeSearch, SectorialSearch)
export(VisualizeCharacter, VisualiseCharacter, VisualizeChar, VisualiseChar, VisualizeInheritance, VisualiseInheritance, VisIn)