export(RearrangeTree, SetOutgroup, Root, RootedNNI, QuickNNI, RootedSPR, SPR, RootedTBR, TBR)
export(DoDescendants, AllAncestors, Descendants, Ancestors)
export(InapplicableParsimony, InapplicableFitch, FitchInfo)
export(ExtractClade, AddTip, SingleTaxonTree, TwoTipTree)
export(PrepareCluster)
export(PrepareData, AsBinary)
export(InapplicableSectorial, InapplicablePratchet, TreeSearch, SectorialSearch)
export(visualize.character, visualise.character, visualize.char, visualise.char, visualise.inheritance, visualize.inheritance, vis.in)